VITE_DEV_PORT=5173
VITE_DEV_API_PROXY_TARGET=http://ADMIN_PC_IP:5000
VITE_API_BASE_URL=http://ADMIN_PC_IP:5000
VITE_ROBOT_SIGNALING_URL=ws://ADMIN_PC_IP:5002
VITE_WS_URL=ws://ADMIN_PC_IP:5000/ws?role=admin
